<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="The website of func_kenobi.">
    <title><%- albumName %></title>

    <%- include('partials/header') %>
  </head>

  <body style="flex-direction: column; height: 100%;">
    <%- include('partials/navbar') %>
    <div class="row" style="width: 100%; height: 100%;">
      <div class="col-2 p-3"></div>
      <div class="col-8 p-3" style="display: flex; flex: 1; flex-direction: column; max-height: 1024px;">
                <div id="musicList" style="overflow: scroll; ">
                    <img src="<%- albumImg %>" alt="songImage">
                    <h2><%- albumName %></h2>
                    <%- albumList %>
                </div>
          <div style="display: flex; flex-direction: row; justify-content: baseline;">
          <%- include('partials/footer') %>
      </div>
      <div class="col-2 p-3"></div>
    </div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
