<!doctype html>
<html lang="en">
  <head>
    <meta name="description" content="The website of func_kenobi.">
    <title>Music</title>
    <%- include('partials/header') %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
      function setFilter() {
        filter = document.getElementById('filter')
        filter = filter.value
        document.location = `http://www.funckenobi42.space/radio/music?p=1&f=${filter}`
      }
      function goToPage() {
        page = document.getElementById('goToPage');
        page = page.value
        document.location = `http://www.funckenobi42.space/radio/music?p=${page}&f=<%- filter %>`
      }
      function addToQueue(id) {
      jQuery.ajax({
          url: `api/addToPlaylist/${id}`, // Endpoint URL
          method: 'GET', // Or 'POST' if you used app.post() on the server
          success: function(response) {
              console.log('Server function executed:', response);
              // Handle the response from the server
          },
          error: function(err) {
              console.error('Error calling server function:', err);
          }
      });
  }
      </script>

  </head>

  <body style="flex-direction: column; height: 100%;">
    <%- include('partials/navbar') %>
    <div class="row" style="width: 100%; height: 100%;">
      <div class="col-2 p-3"></div>
      <div class="col-8 p-3" style="display: flex; flex: 1; flex-direction: column; max-height: 64vh;">
          <div>
            <select name="filter" id="filter">
              <optgroup label="Song">
                  <option value="id">Id</option>
                  <option value="album">Album</option>
              </optgroup>
            </select>
            <button onclick="setFilter()">Filter</button>
          </div>
          <div>
            <button onclick="goToPage()">Go To Page</button>
            <label for="page">Page number:</label>
            <input type="text" name="page" id="goToPage">
          </div>
          <div id="musicList" style="overflow: scroll; "><%- music %></div>
          <div style="display: flex; flex-direction: row; justify-content: baseline;">
            <button onclick="document.location = 'http://www.funckenobi42.space/radio/music?p=<%- back %><%- filter %>'">Back</button>
            <p style="margin: auto;"><%- pages %></p>
            <button style="float: right;" onclick="document.location = 'http://www.funckenobi42.space/radio/music?p=<%- forward %><%- filter %>'">Forward</button></div>
      </div>
      <div class="col-2 p-3"></div>
    </div>
    
    <%- include('partials/footer') %>

  

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://www.funckneobi42.space/scripts/queueManager.js"></script>
    <script src="/js/vendor/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
